matplotlib==3.9.0
loompy==3.0.7
pandas==2.2.2
pymde==0.1.18
scanpy==1.10.1
scib-metrics==0.5.1
scikit-learn==1.5.0
scikit-misc==0.3.1
scvi-tools==1.1.2
seaborn==0.13.2
tensorflow-datasets==4.9.4
tensorflow-probability==0.23.0
harmonypy==0.0.10
scanorama==1.7.4